$navbar-default-bg: #001f3f;


@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.8em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
#mynavbar{
    color:white;
    font-size:1.2em;
    font-weight:bold;
}

#logo:hover {
    text-decoration: none;
}

.center{
    text-align:center;
}

.jumbotron{
    background-image: asset-url('jumbotron_image.jpg');
    background-size:cover;
    height:550px;
}
.jumbotron h1{
    color:#fff;
    font-weight:bold;
    text-align:center;
    letter-spacing:-1px;
    margin-bottom:40px;
}
.btn-xlarge{
    font-size : 1.7em;
    background-color:black;
}
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}
footer a:hover {
    color: #222;
}
footer small {
    float: left;
}
footer ul {
    float: right;
    list-style: none;
}
footer ul li {
    float: left;
    margin-left: 15px;
}
.article-title {
    font-weight: bold;
    font-size: 1.5em;
}
.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}
.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}
.description {
    margin-top: 0;
}
.article-meta-details{
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
    
}