<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; Express Blog!
      by <a href="http://profile.iiita.ac.in/IHM2014006">Yash Sharma</a>
    </small>
    <nav>
      <ul>
      </ul>
    </nav>
  </footer>
</div>